<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="referencias.css">
</head>

<body>

	<button title="Voltar" id="indexBtn" class="btn btn-primary btn-back"><i class="fas fa-arrow-left"></i></button>
	
	<img class="icon-herbabot" src="doris.png">
	<h1 class="icon-title">HerbaDóris</h1>
	<h1 class="icon-subtitle">Plantando conhecimento</h1>

	<div class="card">
		<h2 class="title">Referências</h2>
		<p class="text"><i>Agência Nacional de Vigilância Sanitária - ANVISA.</i> Formulário de Fitoterápicos. 2ª EDIÇÃO. 2021. Disponível em: <a href="https://www.gov.br/anvisa/pt-br/assuntos/farmacopeia/formulario-fitoterapico/2024-fffb2-1-er-3-atual-final-versao-com-capa-em-word-2-jan-2024.pdf">https://www.gov.br/anvisa/pt-br/assuntos/farmacopeia/formulario-fitoterapico/2024-fffb2-1-er-3-atual-final-versao-com-capa-em-word-2-jan-2024.pdf</a></p>
		<p class="text"><i>Agência Nacional de Vigilância Sanitária - ANVISA.</i> INSTRUÇÃO NORMATIVA - IN N° 285. 2024. Disponível em: <a href="https://antigo.anvisa.gov.br/documents/10181/6729468/IN_285_2024_.pdf/87a6f171-950b-4834-95ec-8cdb56cef4fb">https://antigo.anvisa.gov.br/documents/10181/6729468/IN_285_2024_.pdf/87a6f171-950b-4834-95ec-8cdb56cef4fb</a></p>
	</div>
	
	<script>
		
		document.getElementById("indexBtn").addEventListener("click", function() {
			window.location.href = "/index";
		});
		
	</script>
</body>

</html>